
@model NGnono.FMNote.WebSite4App.Core.Models.VO.EditUserInfoVO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Details</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.ScreenName)
            @Html.TextBoxFor(m => m.ScreenName)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)            
        </li>

        <li data-role="fieldcontain">
            <input type="submit" value="Register" />
        </li>
    </ul>
}

@section FooterScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
