<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @*        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    @Styles.Render("~/Content/mobileCss", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("HeaderStyles", false)
    @RenderSection("HeaderScripts", false)
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div data-role="page" data-theme="b" id="homePage">
        <div data-role="header" id="homeHeader">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else
            {
                <h1>@ViewBag.Title</h1>
                @Html.Partial("_LoginPartial")
            }
        </div>
        <div data-role="content" id="homeContent">
            @RenderBody()
        </div>
        <div data-role="footer" id="homeFooter">
            @if (IsSectionDefined("Footer"))
            {
                @RenderSection("Footer")
            }
            else
            {
                @Html.Partial("_FooterPartial")
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    @Scripts.Render("~/bundles/jquerymobile")
    @RenderSection("PageAreas", false)
    @RenderSection("FooterScripts", false)
</body>
</html>
