@model NGnono.FMNote.WebSite4App.Core.Models.DTO.Bill.ListDTO

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listModel = Model.Bills;
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().User_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().Category_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().DataDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().CreatedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().UpdatedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().ExtendedContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bills.FirstOrDefault().ExtendedContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in listModel)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtendedContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtendedContent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
